.welcome_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #19270d;
}

.welcome_link {
	text-decoration: none;
	color: white;

	font-size: 2rem;
}

.welcome_img {
	height: 500px;
}

.welcome_room {
	height: 100px;
}
