.poem_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 160vh;
    margin: 20px;
    opacity: 0.7;
}

.poem_div {
    font-weight: 700;
    height: 100vh;
    opacity: 1;
}