.nav_container {
	margin-left: 20px;
	background-color: #f8f9fa;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bread_container a {
	text-decoration: none;
	color: darkgray;
}
