* {
	box-sizing: border-box;
	/* background-color: rgba(254, 242, 235, 100%); */
	
}

body {
background-image: url('./assets/Background_poems.png');
background-repeat: no-repeat;
background-position: 50%;
background-size: cover;
height: 160vh;

}